@import "tailwindcss";

.typing-dot {
  width: 6px;
  height: 6px;
  background-color: #9ca3af; /* gray-400 */
  border-radius: 9999px;
  animation: typingBounce 1.4s infinite ease-in-out both;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}

@keyframes typingBounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

